<form action="mailto:p.margerie4+pmcdesign@gmail.com" method="GET" enctype="text/plain">
  <div class="contact-img">
    <img src="{{ '/assets/img/letter-147563_960_720[1].png' | relative_url }}">
  </div>
  <div class="contact-form">
    <fieldset>
      <input placeholder="Sujet" type="text" name="subject" tabindex="1" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Votre message ..." name="body" tabindex="2" required></textarea>
    </fieldset>
    <fieldset>
      <button type="submit" id="contact-submit">Envoyer</button>
    </fieldset>
  </div>
</form>
