<div id="animated-thumbnails">
    <a href="assets/gallery/ESC 01.jpg" class="very-large">
        <img
            src="assets/gallery_min/ESC 01.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/LUMION 01.jpg" class="large">
        <img
            src="assets/gallery_min/LUMION 01.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/LUMION 02.jpg" class="small">
        <img
            src="assets/gallery_min/LUMION 02.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/Maquette 01.jpg" class="very-small">
        <img
            src="assets/gallery_min/Maquette 01.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/Plein pied twin 01.jpg" class="large">
        <img
            src="assets/gallery_min/Plein pied twin 01.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/Reno Twin 01.jpg" class="medium">
        <img
            src="assets/gallery_min/Reno Twin 01.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/Vue ext twin 10.jpg" class="medium">
        <img
            src="assets/gallery_min/Vue ext twin 10.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/vUE INTERIEUR TWIN01.jpg" class="small">
        <img
            src="assets/gallery_min/vUE INTERIEUR TWIN01.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/vUE INTERIEUR TWIN02.jpg" class="large">
        <img
            src="assets/gallery_min/vUE INTERIEUR TWIN02.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_01.jpg" class="very-small">
        <img
            src="assets/gallery_min/pic_01.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_02.jpg" class="medium">
        <img
            src="assets/gallery_min/pic_02.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_03.jpg" class="small">
        <img
            src="assets/gallery_min/pic_03.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_04.jpg" class="very-large">
        <img
            src="assets/gallery_min/pic_04.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_05.jpg" class="small">
        <img
            src="assets/gallery_min/pic_05.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_06.jpg" class="very-small">
        <img
            src="assets/gallery_min/pic_06.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_07.jpg" class="medium">
        <img
            src="assets/gallery_min/pic_07.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_08.jpg" class="large">
        <img
            src="assets/gallery_min/pic_08.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_09.jpg" class="medium">
        <img
            src="assets/gallery_min/pic_09.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_10.jpg" class="very-small">
        <img
            src="assets/gallery_min/pic_10.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_11.jpg" class="very-small">
        <img
            src="assets/gallery_min/pic_11.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_12.jpg" class="large">
        <img
            src="assets/gallery_min/pic_12.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_13.jpg" class="small">
        <img
            src="assets/gallery_min/pic_13.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_14.jpg" class="very-small">
        <img
            src="assets/gallery_min/pic_14.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_15.jpg" class="very-large">
        <img
            src="assets/gallery_min/pic_15.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_16.jpg" class="small">
        <img
            src="assets/gallery_min/pic_16.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_17.jpg" class="large">
        <img
            src="assets/gallery_min/pic_17.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_18.jpg" class="medium">
        <img
            src="assets/gallery_min/pic_18.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_19.jpg" class="small">
        <img
            src="assets/gallery_min/pic_19.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_20.jpg" class="medium">
        <img
            src="assets/gallery_min/pic_20.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_21.jpg" class="large">
        <img
            src="assets/gallery_min/pic_21.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_22.jpg" class="medium">
        <img
            src="assets/gallery_min/pic_22.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_23.jpg" class="very-small">
        <img
            src="assets/gallery_min/pic_23.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_24.jpg" class="small">
        <img
            src="assets/gallery_min/pic_24.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_25.jpg" class="very-large">
        <img
            src="assets/gallery_min/pic_25.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_26.jpg" class="very-small">
        <img
            src="assets/gallery_min/pic_26.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_27.jpg" class="very-small">
        <img
            src="assets/gallery_min/pic_27.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_28.jpg" class="medium">
        <img
            src="assets/gallery_min/pic_28.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_29.jpg" class="large">
        <img
            src="assets/gallery_min/pic_29.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_30.jpg" class="very-small">
        <img
            src="assets/gallery_min/pic_30.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_31.jpg" class="very-small">
        <img
            src="assets/gallery_min/pic_31.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_32.jpg" class="medium">
        <img
            src="assets/gallery_min/pic_32.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_33.jpg" class="large">
        <img
            src="assets/gallery_min/pic_33.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_34.jpg" class="small">
        <img
            src="assets/gallery_min/pic_34.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_35.jpg" class="small">
        <img
            src="assets/gallery_min/pic_35.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_36.jpg" class="medium">
        <img
            src="assets/gallery_min/pic_36.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_37.jpg" class="very-small">
        <img
            src="assets/gallery_min/pic_37.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_38.jpg" class="very-large">
        <img
            src="assets/gallery_min/pic_38.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_39.jpg" class="very-small">
        <img
            src="assets/gallery_min/pic_39.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_40.jpg" class="very-small">
        <img
            src="assets/gallery_min/pic_40.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_41.jpg" class="small">
        <img
            src="assets/gallery_min/pic_41.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_42.jpg" class="medium">
        <img
            src="assets/gallery_min/pic_42.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_43.jpg" class="small">
        <img
            src="assets/gallery_min/pic_43.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_44.jpg" class="medium">
        <img
            src="assets/gallery_min/pic_44.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_45.jpg" class="large">
        <img
            src="assets/gallery_min/pic_45.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_46.jpg" class="very-small">
        <img
            src="assets/gallery_min/pic_46.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_47.jpg" class="very-small">
        <img
            src="assets/gallery_min/pic_47.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_48.jpg" class="medium">
        <img
            src="assets/gallery_min/pic_48.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_49.jpg" class="very-small">
        <img
            src="assets/gallery_min/pic_49.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
    <a href="assets/gallery/pic_50.jpg" class="medium">
        <img
            src="assets/gallery_min/pic_50.jpg"
            alt="Exemple de réalisation"
            title="Voir l'image"
        />
    </a>
</div>

<button id="gallery-expand-button" class="expand-button">Voir plus</button>
