
<div id="animated-thumbnails">
  <a href="assets/gallery/pic_(1).jpg">
    <img src="assets/gallery/pic_(1).jpg" />
  </a>
  <a href="assets/gallery/pic_(2).jpg">
    <img src="assets/gallery/pic_(2).jpg" />
  </a>
  <a href="assets/gallery/pic_(3).jpg">
    <img src="assets/gallery/pic_(3).jpg" />
  </a>
  <a href="assets/gallery/pic_(4).jpg">
    <img src="assets/gallery/pic_(4).jpg" />
  </a>
  <a href="assets/gallery/pic_(5).jpg">
    <img src="assets/gallery/pic_(5).jpg" />
  </a>
  <a href="assets/gallery/pic_(6).jpg">
    <img src="assets/gallery/pic_(6).jpg" />
  </a>
</div>
