
<div id="animated-thumbnails">
  <a href="assets/gallery/pic_(1).jpg" class="small">
    <img src="assets/gallery_min/pic_(1).jpg" alt="Exemple de réalisation" title="Voir l'image">
  </a>
  <a href="assets/gallery/pic_(2).jpg" class="large">
    <img src="assets/gallery_min/pic_(2).jpg" alt="Exemple de réalisation" title="Voir l'image">
  </a>
  <a href="assets/gallery/pic_(3).jpg" class="small">
    <img src="assets/gallery_min/pic_(3).jpg" alt="Exemple de réalisation" title="Voir l'image">
  </a>
  <a href="assets/gallery/pic_(4).jpg" class="small">
    <img src="assets/gallery_min/pic_(4).jpg" alt="Exemple de réalisation" title="Voir l'image">
  </a>
  <a href="assets/gallery/pic_(5).jpg" class="medium">
    <img src="assets/gallery_min/pic_(5).jpg" alt="Exemple de réalisation" title="Voir l'image">
  </a>
  <a href="assets/gallery/pic_(6).jpg" class="very-large">
    <img src="assets/gallery_min/pic_(6).jpg" alt="Exemple de réalisation" title="Voir l'image">
  </a>
  <a href="assets/gallery/pic_(7).jpg" class="very-small">
    <img src="assets/gallery_min/pic_(7).jpg" alt="Exemple de réalisation" title="Voir l'image">
  </a>
  <a href="assets/gallery/pic_(8).jpg" class="medium">
    <img src="assets/gallery_min/pic_(8).jpg" alt="Exemple de réalisation" title="Voir l'image">
  </a>
  <a href="assets/gallery/pic_(9).jpg" class="small">
    <img src="assets/gallery_min/pic_(9).jpg" alt="Exemple de réalisation" title="Voir l'image">
  </a>
  <a href="assets/gallery/pic_(10).jpg" class="small">
    <img src="assets/gallery_min/pic_(10).jpg" alt="Exemple de réalisation" title="Voir l'image">
  </a>
  <a href="assets/gallery/pic_(11).jpg" class="large">
    <img src="assets/gallery_min/pic_(11).jpg" alt="Exemple de réalisation" title="Voir l'image">
  </a>
  <a href="assets/gallery/pic_(12).jpg" class="medium">
    <img src="assets/gallery_min/pic_(12).jpg" alt="Exemple de réalisation" title="Voir l'image">
  </a>
  <a href="assets/gallery/pic_(13).jpg" class="medium">
    <img src="assets/gallery_min/pic_(13).jpg" alt="Exemple de réalisation" title="Voir l'image">
  </a>
  <a href="assets/gallery/pic_(14).jpg" class="medium">
    <img src="assets/gallery_min/pic_(14).jpg" alt="Exemple de réalisation" title="Voir l'image">
  </a>
  <a href="assets/gallery/pic_(15).jpg" class="very-small">
    <img src="assets/gallery_min/pic_(15).jpg" alt="Exemple de réalisation" title="Voir l'image">
  </a>
  <a href="assets/gallery/pic_(16).jpg" class="medium">
    <img src="assets/gallery_min/pic_(16).jpg" alt="Exemple de réalisation" title="Voir l'image">
  </a>
  <a href="assets/gallery/pic_(17).jpg" class="medium">
    <img src="assets/gallery_min/pic_(17).jpg" alt="Exemple de réalisation" title="Voir l'image">
  </a>
  <a href="assets/gallery/pic_(18).jpg" class="very-large">
    <img src="assets/gallery_min/pic_(18).jpg" alt="Exemple de réalisation" title="Voir l'image">
  </a>
  <a href="assets/gallery/pic_(19).jpg" class="small">
    <img src="assets/gallery_min/pic_(19).jpg" alt="Exemple de réalisation" title="Voir l'image">
  </a>
  <a href="assets/gallery/pic_(20).jpg" class="small">
    <img src="assets/gallery_min/pic_(20).jpg" alt="Exemple de réalisation" title="Voir l'image">
  </a>
  <a href="assets/gallery/pic_(21).jpg" class="small">
    <img src="assets/gallery_min/pic_(21).jpg" alt="Exemple de réalisation" title="Voir l'image">
  </a>
  <a href="assets/gallery/pic_(22).jpg" class="small">
    <img src="assets/gallery_min/pic_(22).jpg" alt="Exemple de réalisation" title="Voir l'image">
  </a>
  <a href="assets/gallery/pic_(23).jpg" class="medium">
    <img src="assets/gallery_min/pic_(23).jpg" alt="Exemple de réalisation" title="Voir l'image">
  </a>
  <a href="assets/gallery/pic_(24).jpg" class="medium">
    <img src="assets/gallery_min/pic_(24).jpg" alt="Exemple de réalisation" title="Voir l'image">
  </a>
  <a href="assets/gallery/pic_(25).jpg" class="medium">
    <img src="assets/gallery_min/pic_(25).jpg" alt="Exemple de réalisation" title="Voir l'image">
  </a>
  <a href="assets/gallery/pic_(26).jpg" class="large">
    <img src="assets/gallery_min/pic_(26).jpg" alt="Exemple de réalisation" title="Voir l'image">
  </a>
  <a href="assets/gallery/pic_(27).jpg" class="medium">
    <img src="assets/gallery_min/pic_(27).jpg" alt="Exemple de réalisation" title="Voir l'image">
  </a>
  <a href="assets/gallery/pic_(28).jpg" class="medium">
    <img src="assets/gallery_min/pic_(28).jpg" alt="Exemple de réalisation" title="Voir l'image">
  </a>
  <a href="assets/gallery/pic_(29).jpg" class="large">
    <img src="assets/gallery_min/pic_(29).jpg" alt="Exemple de réalisation" title="Voir l'image">
  </a>
  <a href="assets/gallery/pic_(30).jpg" class="small">
    <img src="assets/gallery_min/pic_(30).jpg" alt="Exemple de réalisation" title="Voir l'image">
  </a>
  <a href="assets/gallery/pic_(31).jpg" class="medium">
    <img src="assets/gallery_min/pic_(31).jpg" alt="Exemple de réalisation" title="Voir l'image">
  </a>
  <a href="assets/gallery/pic_(32).jpg" class="large">
    <img src="assets/gallery_min/pic_(32).jpg" alt="Exemple de réalisation" title="Voir l'image">
  </a>
</div>

<button id="gallery-expand-button" class="expand-button">Voir plus</button>
