
body {
  display: flex;
  flex-flow: column;
  max-width: 980px;
  min-height: -webkit-fill-available;
  margin: auto;
  background:         linear-gradient(30deg, white, #b5b5b5d4), url(../img/background.png);
  background: -webkit-linear-gradient(30deg, white, #b5b5b5d4), url(../img/background.png);
  background-size: contain;
  background-attachment: fixed;
}

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 100;
  color: whitesmoke;
  background-color: rgba(130, 130, 130, 0.95);
  border-radius: 0 0 24px 24px;
  font-weight: bolder;
  height: 56px;
  display: flex;
  align-items: center;
  padding: 8px 24px;
  
  .header {
    display: flex;
    flex-flow: row;
    flex-grow: 1;
    align-items: center;
    
    span {
      flex-grow: 1;
    }
    
    a {
      color: inherit;
      text-decoration: none;
      width: 18%;
      text-align: center;
      text-shadow: 0px 0px 2px black;
    }
    
    a:hover {
      color: black;
      background-color: whitesmoke;
      border-radius: 24px;
      text-shadow: unset;
    }
  }
}

footer {
  flex-grow: 1;
  display: flex;
  padding: 16px 0 0;
  align-items: flex-end;
  
  .footer {
    display: flex;
    flex-grow: 1;
    text-align: center;
    
    span {
      flex-grow: 1;
      text-align: end;
    }
    
    a {
      display: inline-flex;
      align-items: center;
      text-align: start;
      color: inherit;
      text-decoration: none;
      padding-right: 4px;
      
      img {
        margin-left: 4px;
        margin-right: 4px;
      }
    }
    
    a:hover {
      color: #0366d6;
      text-decoration: none;
    }
  }
}

section {
  padding-top: 128px;
  margin: -56px 24px 24px;
  
  h1 {
    margin-bottom: 24px;
    text-shadow: 0px 0px 12px white;
  }
}

section#principal {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  
  img {
    flex-grow: 1;
    width: 20%;
    padding: 0 24px;
    min-width: 128px;
    max-width: 256px;
    margin: auto;
  }
  
  .content {
    padding: 8px 16px;
    border-left: 1px solid grey;
    text-align: justify;
    flex-grow: 1;
    width: 75%;
  }
}

section#themes {
  h1 {
      text-align: center;
      overflow: hidden;
    }

  h1:before, h1:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 10%;
  }

  h1:before {
    right: 24px;
    margin-left: -10%;
  }

  h1:after {
    left: 24px;
    margin-right: -10%;
  }
  
  .themes {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    
    article {
      padding: 0 16px;
      width: 20%;
      min-width: 120px;
      flex: auto;
      flex-grow: 0;
      margin: 8px auto;

      .titre {
        text-align: center;
        margin-bottom: 16px;
        line-height: 1.2;
      }

      img {
        opacity: 0.85;
        transition: transform .25s ease;
        box-shadow: 3px 3px 12px grey;
      }
      
      img:hover {
        opacity: 1;
        transform: scale(1.2);
      }
    }
  }
}

section#contact {
  
  .content form {
    display: flex;
    align-items: center;

    .contact-img {
      flex-grow: 1;
      max-width: 30%;
      text-align: end;
      padding: 5%;

      img {
        width: 75%;
        max-width: 140px;
        opacity: 0.6;
      }
    }

    .contact-form {
      flex-grow: 1;
      margin: auto;
      max-width: 450px;

      fieldset {
        border: transparent;

        input, select, textarea, button {
          width: 100%;
          padding: 8px;
          box-shadow: 3px 3px 12px grey;
        }
      }
    }
  }
}

section#aPropos {
  .content {
    text-align: justify;
  }
}


// on small screens
@media only screen and (max-device-width: 560px) {
  body {
    background:         linear-gradient(30deg, white, #00000024), url(../img/background.png);
    background: -webkit-linear-gradient(30deg, white, #00000024), url(../img/background.png);
    background-size: contain;
    background-attachment: fixed;
  }
  
  header {
    padding: 8px 8px;
    
    .header {
      a {
        width: unset;
        min-width: unset;
        flex-grow: 1;
      }
    }
  }
  
  section {
    padding-top: 72px;
  }
}
